<%- include('../includes/head.ejs') %>
    
<link rel="stylesheet" href="/css/main.css">

</head>

<body>
   <%- include('../includes/navigation.ejs') %>
    <h1>About</h1>
    <p> This is a simple shop website that I created using Node.js and Express.js. It has a simple user interface that allows users to view products, add products to a cart, and view the cart. The website also has an admin interface that allows the admin to add products to the shop. The website uses EJS for templating and MongoDB for the database. </p>
    <%- include('../includes/end.ejs') %>
</body>
</html>
